In [119]:
import numpy as np
import pandas as pd
import yfinance as yf
import talib
from matplotlib import pyplot as plt

In [54]:
from platform import python_version

print(python_version())

3.9.7

In [3]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.15 in c:\users\xyyh\anaconda3\envs\bda22\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: pandas>=0.24.0 in c:\users\xyyh\anaconda3\envs\bda22\lib\site-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.5.1 in c:\users\xyyh\anaconda3\envs\bda22\lib\site-packages (from yfinance) (4.7.1)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
Requirement already satisfied: requests>=2.26 in c:\users\xyyh\anaconda3\envs\bda22\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\xyyh\anaconda3\envs\bda22\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\xyyh\anaconda3\envs\bda22\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\xyyh\anaconda3\envs\bda22\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\xyyh\anaconda3\envs\bda22\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\xyyh\anaconda3\envs\bda22\lib\site-packages (from requests>=2.26->yfinance) (1.26.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\xyyh\anaconda3\envs\bda22\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\xyyh\anaconda3\envs\bda22\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Building wheels for collected packages: multitasking
  Building wheel for multitasking (setup.py): started
  Building wheel for multitasking (setup.py): finished with status 'done'
  Created wheel for multitasking: filename=multitasking-0.0.10-py3-none-any.whl size=8500 sha256=308eaccd7b6422cbe74c462f905d1bc26e4c72e96b25b86628b1cbe48e2e4494
  Stored in directory: c:\users\xyyh\appdata\local\pip\cache\wheels\f2\b5\2c\59ba95dcf854e542944c75fe3da584e4e3833b319735a0546c
Successfully built multitasking
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.10 yfinance-0.1.70

In [106]:
all_tickers = pd.read_csv('all_tickers.csv').Symbol[:302].values[:]

In [107]:
all_tickers

array(['AAPL', 'MSFT', 'GOOG', 'GOOGL', 'AMZN', 'TSLA', 'BRK.B', 'NVDA',
       'FB', 'UNH', 'JNJ', 'V', 'WMT', 'JPM', 'XOM', 'PG', 'CVX', 'HD',
       'BAC', 'MA', 'PFE', 'ABBV', 'LLY', 'KO', 'DIS', 'AVGO', 'COST',
       'CSCO', 'VZ', 'PEP', 'ORCL', 'TMO', 'ACN', 'CMCSA', 'ABT', 'ADBE',
       'MRK', 'CRM', 'NKE', 'DHR', 'INTC', 'WFC', 'UPS', 'QCOM', 'MCD',
       'UNP', 'T', 'TXN', 'TMUS', 'NEE', 'MS', 'SCHW', 'NFLX', 'BMY',
       'LOW', 'RTX', 'LIN', 'MDT', 'PM', 'CVS', 'AMGN', 'COP', 'AXP',
       'AMD', 'HON', 'INTU', 'DE', 'ANTM', 'LMT', 'CAT', 'PYPL', 'IBM',
       'GS', 'PLD', 'AMAT', 'C', 'AMT', 'BLK', 'BA', 'NOW', 'GE', 'CHTR',
       'ISRG', 'TGT', 'EL', 'SBUX', 'SYK', 'MO', 'SPGI', 'ZTS', 'ADP',
       'CB', 'BKNG', 'MDLZ', 'DUK', 'MU', 'CME', 'HCA', 'MMM', 'USB',
       'ADI', 'PNC', 'CSX', 'TFC', 'MMC', 'CCI', 'TJX', 'SO', 'CI', 'BDX',
       'GILD', 'ICE', 'FCX', 'NOC', 'REGN', 'NSC', 'EOG', 'LRCX', 'D',
       'AON', 'EW', 'GD', 'PSA', 'ITW', 'F', 'EQIX', 'WM', 'ATVI', 'FISV',
       'CL', 'PGR', 'NEM', 'SHW', 'SLB', 'GM', 'VRTX', 'BSX', 'ETN',
       'FDX', 'PXD', 'MCO', 'MRNA', 'COF', 'EMR', 'FIS', 'OXY', 'HUM',
       'MET', 'MAR', 'SRE', 'KLAC', 'APD', 'CNC', 'LHX', 'AEP', 'ILMN',
       'DG', 'AIG', 'ADM', 'NXPI', 'CTSH', 'KHC', 'ROP', 'ECL', 'SNPS',
       'ORLY', 'FTNT', 'DOW', 'APH', 'MPC', 'PAYX', 'SPG', 'EXC', 'HSY',
       'JCI', 'ADSK', 'MCK', 'IDXX', 'TRV', 'TEL', 'CMG', 'KR', 'KMI',
       'WBA', 'WELL', 'IQV', 'BK', 'CDNS', 'RSG', 'STZ', 'SYY', 'PRU',
       'KMB', 'HLT', 'A', 'CTVA', 'BKR', 'AFL', 'DVN', 'WMB', 'MNST', 'O',
       'BAX', 'AZO', 'MCHP', 'CTAS', 'HPQ', 'DLR', 'XEL', 'DXCM', 'GIS',
       'VLO', 'DD', 'MSI', 'MSCI', 'ANET', 'CARR', 'NUE', 'GPN', 'PSX',
       'ODFL', 'PH', 'RMD', 'TT', 'SBAC', 'TDG', 'EA', 'ALL', 'LYB',
       'AVB', 'HAL', 'YUM', 'DLTR', 'PEG', 'EQR', 'AJG', 'TSN', 'ED',
       'ALGN', 'SIVB', 'FAST', 'ROST', 'GLW', 'TROW', 'OTIS', 'ABC',
       'ARE', 'AMP', 'IFF', 'FITB', 'STT', 'MTD', 'ROK', 'DFS', 'PCAR',
       'WEC', 'WY', 'OKE', 'EBAY', 'VRSK', 'HES', 'AME', 'BF.B', 'CBRE',
       'BIIB', 'ES', 'APTV', 'DHI', 'PPG', 'LVS', 'CMI', 'FRC', 'AWK',
       'HRL', 'BLL', 'CPRT', 'CERN', 'EFX', 'NDAQ', 'WST', 'EXPE', 'KEYS',
       'TWTR', 'EXR', 'WTW', 'MKC', 'ANSS', 'TSCO', 'LEN', 'MTCH', 'FE',
       'ZBH', 'LH', 'EIX', 'DTE', 'LYV', 'GWW', 'MAA', 'SWK', 'LUV',
       'VTR', 'URI'], dtype=object)

In [97]:
#Collecting data from yahoo finance. Run only when collecting
for ticker in all_tickers:
    yf.Ticker(ticker).history(period='max').to_csv(r'C:\Users\xyyh\Desktop\Cornell\ORIE 5370\Project\sp500_data\{}.csv'.format(ticker))

- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted

In [108]:
idx = np.in1d(all_tickers, ['BRK.B', 'BF.B'])
all_tickers = all_tickers[~idx]

In [109]:
spans = np.array([]).astype('int32')
for ticker in all_tickers:
    df = pd.read_csv(r'C:\Users\xyyh\Desktop\Cornell\ORIE 5370\Project\sp500_data\{}.csv'.format(ticker))
    spans = np.append(spans, len(df.Date))
all_tickers = all_tickers[np.argsort(spans)[-200:]]
print(all_tickers[0])

COF

In [111]:
len(all_tickers)

200

In [112]:
#checking if the dates stock with the shortest history meet the dates of all the other stocks
    #filter with the shortest dates
df_shortest = pd.read_csv(r'C:\Users\xyyh\Desktop\Cornell\ORIE 5370\Project\sp500_data\{}.csv'.format(all_tickers[0]))
shortest_dates = df_shortest.Date.values[:-1]

for ticker in all_tickers:
    df = pd.read_csv(r'C:\Users\xyyh\Desktop\Cornell\ORIE 5370\Project\sp500_data\{}.csv'.format(str(ticker)))
    df_dates = df.Date.values[:]
    if set(shortest_dates).issubset(set(df_dates)) == False:
        print(ticker)
    else:
        df_filtered = df.loc[df['Date'].isin(shortest_dates)]
        df_filtered.to_csv(r'C:\Users\xyyh\Desktop\Cornell\ORIE 5370\Project\sp500_data_filtered\{}.csv'.format(str(ticker)),
                          index=False)
dates = df.Date.values[:]

In [113]:
df_filtered

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
8275,1994-11-16,6.975581,7.006584,6.913576,7.006584,3713600.0,0.0,0.0
8276,1994-11-17,7.006586,7.099594,6.960082,6.991085,3488000.0,0.0,0.0
8277,1994-11-18,6.991083,7.006585,6.882574,6.898076,3144800.0,0.0,0.0
8278,1994-11-21,6.898075,6.960080,6.789566,6.805067,2582000.0,0.0,0.0
8279,1994-11-22,6.774066,6.774066,6.402035,6.402035,5804800.0,0.0,0.0
...,...,...,...,...,...,...,...,...
15153,2022-03-11,212.300003,217.770004,212.300003,214.830002,4042500.0,0.0,0.0
15154,2022-03-14,216.300003,218.479996,212.929993,215.440002,3530700.0,0.0,0.0
15155,2022-03-15,216.119995,217.380005,210.509995,216.460007,4364200.0,0.0,0.0
15156,2022-03-16,217.500000,219.490005,212.320007,216.080002,4378700.0,0.0,0.0
15157,2022-03-17,215.320007,221.779999,214.339996,221.699997,3599900.0,0.0,0.0

In [114]:
shortest_dates

array(['1994-11-16', '1994-11-17', '1994-11-18', ..., '2022-03-15',
       '2022-03-16', '2022-03-17'], dtype=object)

In [125]:
#extracting features
for ticker in all_tickers:
    df = pd.read_csv(r'C:\Users\xyyh\Desktop\Cornell\ORIE 5370\Project\sp500_data_filtered\{}.csv'.format(str(ticker)))
    open_price = df.Open.values[:]
    high_price = df.High.values[:]
    low_price = df.Low.values[:]
    close_price = df.Close.values[:]
    volume = df.Volume.values[:]
    ret = np.insert(np.log(close_price[1:]/close_price[:-1]), 0, np.nan)
    ema = talib.EMA(ret, timeperiod=30)
    macd, _, _ = talib.MACD(close_price, fastperiod=12, slowperiod=26, signalperiod=9)
    rsi = talib.RSI(close_price, timeperiod=14)
    df_output = pd.DataFrame({'Date': shortest_dates[33:], 'Close': close_price[33:], 'Return': ret[33:], 
                              'Volume': volume[33:],'EMA': ema[33:], 'MACD': macd[33:], 'RSI': rsi[33:]})
    df_output.to_csv(r'C:\Users\xyyh\Desktop\Cornell\ORIE 5370\Project\sp500_data_features\{}.csv'.format(str(ticker)),
                          index=False)